@charset "UTF-8";
body {
  --accent-color: #5432cd;
  --border-subtle: #393939;
  --header-bg-color: #000;
  --header-height: 48px;
  --box-header-bg-color: #5432cd;
  --box-body-bg-color: #161616;
  --text-primary: #fff;
  --text-secondary: #a8a8a8;
  --text-tertiary: #6f6f6f;
  --link-primary: #8b7cff;
  --table-header-height: 2.5rem;
  --table-row-height: 2.5rem;
  --table-header-bg-color: #0a0a0a;
  overflow: scroll;
  margin: 0;
  padding: 0;
  background: #262626;
  scrollbar-color: #6f6f6f #161616;
  scrollbar-width: thin;
  font-family: sans-serif;
  color: var(--text-primary);
  text-wrap: balance;
}
body .tag {
  align-self: center;
  margin-inline-start: 1em;
  padding: 0.2em 0.8em;
  background-color: #a7f0ba;
  color: #0e6027;
  border-radius: 16px;
  font-size: 0.75em;
  user-select: none;
}
body .scrollTop {
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
body .scrollTop:hover, body .scrollTop:focus {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
body ul,
body ol {
  list-style-type: disc;
  list-style-position: inside;
  margin: 1em 0.5em;
  padding-block: 0;
  padding-inline-start: 1.5em;
}
body ul li,
body ol li {
  line-height: 1.5;
  list-style-type: circle;
  list-style-position: outside;
}
body a {
  color: var(--link-primary);
  text-decoration: none;
  border: none;
}
body a:focus, body a:hover {
  text-decoration: underline;
}
body header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 0 16px;
  height: var(--header-height);
  background-color: var(--header-bg-color);
}
body header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}
body ul.release-list {
  position: relative;
}
body ul.release-list ul.older-releases-list {
  margin-left: 16px;
  height: 0;
  padding: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.2s ease-out;
}
body #older-releases-checkbox {
  display: none;
}
body #older-releases-btn {
  cursor: pointer;
  margin-bottom: 0.5em;
  color: var(--text-secondary);
}
body #older-releases-btn::before {
  content: "▶";
  margin-right: 0.33em;
  transition: all 150ms ease-in-out;
}
body #older-releases-checkbox:checked ~ #older-releases-btn::before {
  content: "▼";
}
body #older-releases-checkbox:checked ~ .older-releases-list {
  height: 100%;
  transform-origin: top;
  transform: scaleY(1);
}
body .releases {
  padding-top: 16px;
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  padding-inline: 16px;
}
body .release {
  position: relative;
  background-color: var(--box-body-bg-color);
}
body .release header {
  position: sticky;
  z-index: 10;
  top: var(--header-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  background-color: var(--box-header-bg-color);
}
body .release header .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 16px;
}
body .release header .date {
  margin-inline: auto 0;
  color: var(--text-primary);
}
body .release main {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-block-start: 16px;
}
body .release main > * {
  padding-inline: 16px;
}
body .release main .meta {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 0.5em;
  line-height: 1.3;
}
body .release main .meta + .meta {
  margin-top: 0.5em;
}
body .release main .meta .label {
  color: var(--text-secondary);
  margin-inline-end: 0.5em;
}
body .release main .meta .value {
  color: var(--text-primary);
  font-weight: bold;
  margin: 0;
}
body .release main .meta:last-of-type {
  margin-bottom: 16px;
}
body .release main .markdown {
  margin-top: 16px;
  padding-inline: 16px;
}
body .release main .markdown > *:last-child {
  margin-bottom: 0;
}
body .release main .markdown h1 {
  --font-size: 28px;
}
body .release main .markdown h2 {
  --font-size: 26px;
}
body .release main .markdown h3 {
  --font-size: 24px;
}
body .release main .markdown h4 {
  --font-size: 22px;
}
body .release main .markdown h5 {
  --font-size: 20px;
}
body .release main .markdown h6 {
  --font-size: 18px;
}
body .release main .markdown h1,
body .release main .markdown h2,
body .release main .markdown h3,
body .release main .markdown h4,
body .release main .markdown h5,
body .release main .markdown h6 {
  font-size: var(--font-size);
  line-height: 1;
  margin: 0.5em 0;
  font-weight: bold;
}
body .release main .markdown code {
  background-color: #2d2d2d;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}
body .release main .table-wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
  margin-top: 24px;
  padding: 0;
}
body .release main .table-wrapper > table {
  position: relative;
  width: 100%;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}
body .release main .table-wrapper > table td,
body .release main .table-wrapper > table th {
  text-align: start;
  padding-inline: 1rem;
  vertical-align: middle;
}
body .release main .table-wrapper > table thead tr {
  block-size: var(--table-header-height);
  background-color: var(--table-header-bg-color);
}
body .release main .table-wrapper > table tbody tr {
  block-size: var(--table-row-height);
}
body .release main .table-wrapper > table tbody tr.placeholder {
  color: var(--text-secondary);
}
body .release main table.assets tbody td.name {
  white-space: nowrap;
}
body .release main table.assets tbody td.link {
  white-space: nowrap;
}
body .release main table.assets tbody td.size {
  white-space: nowrap;
}
body .release main table.assets tbody td.type {
  white-space: nowrap;
  text-align: center;
}
body .release main table.assets tbody td.checksum {
  font-family: monospace;
  white-space: nowrap;
}
body .release footer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 12px;
  padding-block: 4px;
  padding-inline: 16px;
  border-top: 1px solid var(--border-subtle);
}
body .release footer .uuid {
  margin-inline: auto;
  color: var(--text-tertiary);
}