@use 'styles/carbon' as *;
@use 'styles/var/shadows';

.root {
    composes: inline vertical from 'styles/layout.scss';
    gap: mini-units(3);
}

.modal :global {
    .cds--modal-header {
        border-block-end: 1px solid $border-subtle;
        padding-block: mini-units(2);
    }
    .cds--list-box__menu {
        position: fixed;
        inline-size: unset;
        inset-inline: mini-units(2);
        box-shadow: shadows.$elevation-8dp;
    }
}

.comboBox {
    input {
        padding-inline-end: 5.5rem !important;
    }

    // Hide the error icon
    [class*='invalid-icon'] {
        display: none;
    }

    // Hide the clear button
    // (covered by the decorator icon)
    button[class*='selection'] {
        display: none;
    }
}

.note {
    composes: horizontal from 'styles/layout.scss';
    gap: mini-units(1);
    color: $text-secondary;
}
