@use 'styles/carbon' as *;

.root {
    composes: vertical from 'styles/layout.scss';
    gap: mini-units(2);
}
.footer {
    composes: horizontal from 'styles/layout.scss';
    padding: mini-units(2);
    gap: mini-units(1);

    background: $layer-01;
}

.status {
    composes: vertical from 'styles/layout.scss';
}
.statusRow {
    composes: horizontal center from 'styles/layout.scss';
    gap: mini-units(1);

    font-size: to-rem(14px);
    line-height: 1.71;
    font-style: normal;

    strong {
        font-weight: bold;
        &::after {
            display: inline-block;
            content: ':';
        }
    }
    span {
        font-weight: 400;
    }
}

.unsavedField {
    position: relative;
}

.staticFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: mini-units(2);

    max-inline-size: to-rem(590px);

    @container (width <= 400px) {
        display: flex;
        flex-direction: column;
        inline-size: 100%;
    }
}
.staticField {
    composes: flex from 'styles/layout.scss';
}

//
// Wifi
//

.wifiNetSelectorWrapper {
    composes: flex horizontal center from 'styles/layout.scss';
    position: relative;

    inline-size: 100%;
    gap: mini-units(1);

    .wifiNetSelector {
        width: 100%;

        :global {
            // Container of both the dropdown triggering button and the refresh button we add.
            // When the field is invalid, it has a red outline that is offset to stay inside.
            // This however means that our refresh button covers it on the right side.
            .cds--dropdown {
                outline-offset: 0 !important;
            }

            // The dropdown triggering button
            button[role='combobox'] {
                // Same reason as above, but just for the button when it's focused.
                outline-offset: 0 !important;

                // Make explicit space for the refresh button
                padding-inline-end: 2.5rem !important;

                // The arrow icon has to be shifted left
                // not to be covered by the refresh button
                .cds--list-box__menu-icon {
                    position: absolute;
                    right: mini-units(6);
                }

                // Stretch the menu items to a sensible width
                // for the visuals to work.
                .cds--list-box__menu-item__option {
                    min-width: to-rem(220px);
                }

                .cds--list-box__label {
                    width: 100%;
                }
            }

            // When invalid, the error icon is fighting for space
            // with the arrow icon, so we'll just remove it.
            .cds--list-box__invalid-icon {
                display: none;
            }
        }
    }

    // Refresh button
    .wifiNetSelectorRefreshButton {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.wifiAp {
    composes: inline horizontal justified center from 'styles/layout.scss';
    position: relative;
    gap: mini-units(3);

    $height: to-rem(24px);

    width: 100%;
    height: $height;
    white-space: nowrap;

    .left {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: mini-units(1);

        .ssid {
            display: inline-block;
            vertical-align: middle;
            width: 150px;
            line-height: $height;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .encryption {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;

        .none {
            color: $support-error;
        }

        .low {
            color: $support-warning;
        }

        .fine {
            color: $support-success;
        }
    }
}

//
// Manual connect dialog
//

.wifiDialogPassword [role='dialog'],
.wifiDialogManualEntry [role='dialog'] {
    max-width: to-rem(500px);
}
.wifiDialogForm {
    composes: vertical from 'styles/layout.scss';
    gap: mini-units(3);
}
