@use '@/styles/carbon' as *;

$gutter: mini-units(1);
$r: 4px;

.root {
    display: inline-flex !important;
    flex-direction: row;

    [dir='rtl'] & {
        flex-direction: row-reverse;
    }

    * + .root {
        margin-left: $gutter;
    }

    &.spaced {
        gap: $gutter;
    }
    &.vertical {
        flex-direction: column;

        :global(.cds--btn) {
            border-radius: 0;
            &:first-child {
                border-top-left-radius: $r;
                border-top-right-radius: $r;
            }
            &:last-child {
                border-bottom-left-radius: $r;
                border-bottom-right-radius: $r;
            }
        }
    }
}

.root > :global(.cds--btn):not(#_) {
    width: inherit !important;
    box-shadow: none !important;
    max-width: unset !important;
}
