@use 'sass:map';
@use 'sass:math';
@use 'sass:list';
@use 'sass:string';

// Configure Carbon
@use '@carbon/react/scss/config' with (
    $prefix: 'cds',
    /// If true, includes font face mixins in `_css--font-face.scss` depending on the `css--plex` feature flag
    $css--font-face: false,
    /// If true, include reset CSS
    $css--reset: true,
    /// If true, include default type
    $css--default-type: true
);
@use '@carbon/react/scss/utilities/convert' as *;

// Forward some globally used Carbon utilities
@forward '@carbon/react/scss/type' with (
    $font-families: (
        'sans': string.unquote("'BraiinsSans', sans-serif, serif"),
        'mono': string.unquote("'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace"),
        'sans-condensed': string.unquote("'BraiinsSans_Regular', sans-serif, serif"),
        'sans-hebrew': string.unquote("'BraiinsSans_Regular', sans-serif, serif"),
        'serif': string.unquote("'BraiinsSans_Regular', sans-serif, serif"),
    )
);
@forward '@carbon/react/scss/breakpoint';
@forward '@carbon/react/scss/utilities/convert';
@forward '@carbon/react/scss/utilities/z-index';

// Local imports
@use './colors' as *;

// Forward local imports
@forward './colors';
@forward './tokens';
@forward './vars-css-to-sass';

/// Because those fucking geniuses just removed the export
/// without exporting it elsewhere, we to copy the function here.
@function mini-units($count) {
    @return 0.5rem * $count;
}

$scrollbar-bg: var(--scrollbar-bg);
$scrollbar-fg: var(--scrollbar-fg);

$scrollbar-bg-hover: var(--scrollbar-bg-hover);
$scrollbar-fg-hover: var(--scrollbar-fg-hover);

$table-header-bg-color: var(--table-header-bg-color);
$table-header-text-color: var(--table-header-text-color);

$shell-border-color: var(--shell-border-color);

// prettier-ignore
$tag-colors: (
    // red
    'tag-background-red': (fallback: $braiins-red-60, values: ()),
    'tag-color-red':      (fallback: $braiins-red-10, values: ()),
    'tag-hover-red':      (fallback: $braiins-red-70, values: ()),
    // magenta
    'tag-background-magenta': (fallback: $braiins-magenta-40, values: ()),
    'tag-color-magenta':      (fallback: $braiins-magenta-90, values: ()),
    'tag-hover-magenta':      (fallback: $braiins-magenta-50, values: ()),
    // purple
    'tag-background-purple': (fallback: $braiins-purple-40, values: ()),
    'tag-color-purple':      (fallback: $braiins-purple-90, values: ()),
    'tag-hover-purple':      (fallback: $braiins-purple-50, values: ()),
    // blue
    'tag-background-blue':  (fallback: $braiins-blue-60, values: ()),
    'tag-color-blue':       (fallback: $braiins-blue-10, values: ()),
    'tag-hover-blue':       (fallback: $braiins-blue-70, values: ()),
    // cyan
    'tag-background-cyan':  (fallback: $braiins-lime-20, values: ()),
    'tag-color-cyan':       (fallback: $braiins-lime-70, values: ()),
    'tag-hover-cyan':       (fallback: $braiins-lime-30, values: ()),
    // teal
    'tag-background-teal':  (fallback: $braiins-teal-30, values: ()),
    'tag-color-teal':       (fallback: $braiins-teal-80, values: ()),
    'tag-hover-teal':       (fallback: $braiins-teal-40, values: ()),
    // green
    'tag-background-green': (fallback: $braiins-green-60, values: ()),
    'tag-color-green':      (fallback: $braiins-green-10, values: ()),
    'tag-hover-green':      (fallback: $braiins-green-70, values: ()),
    // gray (we only use one, so all of them are the same)
    'tag-background-cool-gray': (fallback: $braiins-gray-30, values: ()),
    'tag-color-cool-gray':      (fallback: $braiins-gray-80, values: ()),
    'tag-hover-cool-gray':      (fallback: $braiins-gray-40, values: ()),

    'tag-background-gray':      (fallback: $braiins-gray-30, values: ()),
    'tag-color-gray':           (fallback: $braiins-gray-80, values: ()),
    'tag-hover-gray':           (fallback: $braiins-gray-40, values: ()),

    'tag-background-warm-gray': (fallback: $braiins-gray-30, values: ()),
    'tag-color-warm-gray':      (fallback: $braiins-gray-80, values: ()),
    'tag-hover-warm-gray':      (fallback: $braiins-gray-40, values: ()),
);

//
// Our customisations
// TODO: Ideally, there should not be any of these,
//  so if there is a way to get rid of them, that would be great
//

$shell-menu-width: to-rem(260px);
$shell-content-max-width: to-rem(1584px);

$shell-header-links-height: to-rem(36px);
$shell-footer-links-height: to-rem(48px);
$shell-header-navbar-height: to-rem(48px);
$shell-footer-slim-height: to-rem(55px);

$workers-table-toolbar-height: to-rem(48px);

//
// Themes mixins
//

@mixin onDark {
    :global(.br-theme-dark) {
        @content;
    }
    :global(.br-theme-auto) {
        @media (prefers-color-scheme: dark) {
            @content;
        }
    }
    :global(.br-theme-inverse) {
        @media (prefers-color-scheme: light), not all and (prefers-color-scheme: dark) {
            @content;
        }
    }
}

@mixin onLight {
    :global(.br-theme-light) {
        @content;
    }
    :global(.br-theme-auto) {
        @media (prefers-color-scheme: light), not all and (prefers-color-scheme: dark) {
            @content;
        }
    }
    :global(.br-theme-inverse) {
        @media (prefers-color-scheme: dark) {
            @content;
        }
    }
}
