@use '@/styles/var/transition';
@use '@/styles/carbon' as *;

// https://css-tricks.com/custom-scrollbars-in-webkit/
@mixin scrollbar() {
    scrollbar-color: $scrollbar-fg $scrollbar-bg;
    scrollbar-width: thin;

    // No buttons
    &::-webkit-scrollbar-button {
        display: none;
    }

    /* Bg track + the corner (no opacity is available sadly) */
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        background: $scrollbar-bg;
    }
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-corner:hover {
        background: $scrollbar-bg-hover;
    }

    /* The moving "thumb" part (no transitions available) */
    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-fg;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: $scrollbar-fg-hover;
    }
}
.scrollbar {
    @include scrollbar;
}
