@use 'styles/carbon' as *;
@use 'styles/var/shadows';

$left-size: to-rem(558px);
$left-size-min: to-rem(280px);

.root {
    container-type: inline-size;

    display: grid;
    grid-template-areas:
        'title       widget'
        'description widget';

    // Justify the rows up
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax($left-size-min, 1fr) 1fr;
    align-items: start;

    background-color: var(--field-bg-color);
    padding: mini-units(2);
    gap: mini-units(0.5) mini-units(7);

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    // When the description is empty, we want to stretch the title to center it vertically.
    // This requires:
    //  - description be present even when empty
    //  - separate "grid-template-areas" because spaning is ignore with named areas
    &:has(.description:empty) {
        grid-template-areas: 'title widget';
        grid-template-rows: 1fr;
    }

    &.variant-dark {
        --field-bg-color: #{$layer-01};
    }
    &.variant-light {
        --field-bg-color: #{$layer-02};
    }

    @container (width <= 600px) {
        display: flex;
        flex-direction: column;
        gap: mini-units(0.5);

        .widget {
            inline-size: 100%;
            margin-block-start: mini-units(2);
        }
    }
}

.title {
    composes: selfStretch horizontal center from 'styles/layout.scss';

    grid-area: title;
    position: relative;
    max-inline-size: $left-size;

    color: $text-primary;
    font-size: to-rem(14px);
    font-weight: 600;
    line-height: 1.28;
}

.description {
    grid-area: description;
    position: relative;
    max-inline-size: $left-size;

    color: $text-secondary;
    font-size: to-rem(14px);
    font-weight: 400;
    line-height: 1.28;

    &:empty {
        display: none;
    }
}

.widget {
    position: relative;
    grid-area: widget;

    > * {
        max-inline-size: to-rem(400px);
        [role='listbox'] {
            box-shadow: shadows.$elevation-8dp;
        }

        :global {
            // Stretch the slider container
            // This was needed after allowing the slider to go narrower.
            .cds--slider-container {
                width: 100%;
            }

            // Allow the slider to go narrower not to stretch our widget area.
            // In combination with stretch of the container, this will still let the slider to go as wide as possible.
            .cds--slider {
                min-inline-size: mini-units(10);
            }
        }
    }
}
