@use 'styles/carbon' as *;
@use 'styles/var/shadows';

.root {
    max-width: to-rem(1200px);
}

.header {
    composes: horizontal justified from 'styles/layout.scss';
    margin-block-end: mini-units(3);

    container-type: inline-size;
    width: 100%;

    @media (width <= 600px) {
        flex-flow: column nowrap;
        justify-content: start;
        row-gap: mini-units(2);

        .headerControls {
            justify-content: start;
            flex-flow: row wrap;

            > *,
            :global(.cds--tooltip),
            :global(.cds--overflow-menu__wrapper),
            :global(.cds--overflow-menu) {
                min-width: 100%;
                text-align: start !important;
            }
        }
    }
}

.headerLeft {
    position: relative;
}
.title {
    composes: heading-06 from 'styles/carbon/typography.scss';
}
.subtitle {
    margin-top: mini-units(2);
    color: $text-secondary;
}

.headerControls {
    composes: flex horizontal center endJustified from 'styles/layout.scss';
    position: relative;
    gap: mini-units(2);
}

//
// Screen cycling is a fuckload of weird hacks
// to make it render as a pseudo dropdown menu
//

.screenCycleButtonWrapper {
    position: relative;

    button {
        display: inline-flex;
        align-items: center;
        justify-content: start;
        flex-shrink: 0;

        block-size: to-rem(48px);
        inline-size: unset;
        padding-inline: mini-units(2);

        background: $button-secondary !important;
        color: $text-primary !important;

        &:focus,
        &:hover {
            background: $button-secondary-hover !important;
        }
        &:active {
            background: $button-secondary-active !important;
        }
    }
}

.screenCycleButtonContent {
    composes: inline flex horizontal center from 'styles/layout.scss';
    gap: mini-units(1);

    white-space: nowrap;
    font-size: var(--cds-body-compact-01-font-size, 0.875rem);

    // Without disabled pointer events the button
    // in which this is rendered does not work reliably
    pointer-events: none;

    .chevron {
        margin-inline-start: auto;
    }
}

.screenCycleMenu {
    // CDS defaults to a fixed-width overflow menu,
    // but wee to let it stretch by it's content
    inline-size: unset;

    // CDS includes some kind of a little box in `::after`
    // (probably to cover some border or whatever),
    // but it is just a disctraction for us here.
    &::after {
        display: none;
    }
}

.screenCycleForm {
    composes: vertical from 'styles/layout.scss';
    min-inline-size: to-rem(300px);
    box-shadow: shadows.$elevation-8dp;

    gap: mini-units(2);
    padding: mini-units(2);

    background-color: $layer-01;
    color: $text-primary;
}
