@use 'styles/carbon' as *;

.root {
    position: absolute;
    inline-size: 100vw;
    block-size: 100vh;
    overflow-x: hidden;

    composes: scrollbar from 'styles/interaction.scss';
    composes: vertical center from 'styles/layout.scss';

    padding-block-start: mini-units(8);
    background-color: $text-inverse;
    gap: mini-units(2);

    @media (width <= 800px) or (height <= 800px) {
        margin: 0;
        padding: 0;
    }
}

.inner {
    composes: vertical from 'styles/layout.scss';
    inline-size: to-rem(512px);
    max-inline-size: 100%;
    gap: mini-units(2);
}
.innerSetup {
    composes: inner;
    inline-size: to-rem(703px);
}
