$nbsp: '\00a0';

$triangle-right: '\25B8';
$triangle-up: '\25B2';
$triangle-down: '\25BC';
$white-diamond: '\25C7';

$square: '\25a0';
$cirlce: '\25CF';
$middot: '\00B7';

$hourglass: '\29D7';

$check: '\2713';
$cross: '\2717';
