@use 'styles/carbon' as *;
@use 'styles/var/transition';

$row-height: to-rem(68px);
$ctrl-height: to-rem(40px);

.root {
    // Layout context
    position: relative;
    width: 100%;
    container-type: inline-size;

    // Visuals
    background-color: $layer-01;
    user-select: none;
    color: $text-primary;
}

//
// Layout variants
//

.row {
    composes: root;
    min-height: $row-height;

    // Grid
    display: inline-grid;
    // ↑↓ center, ←→ start
    place-items: center start;
    padding-inline: 0 mini-units(3);

    // stretch the labels column
    grid-template-columns: auto /**/ auto /**/ auto /****/ 1fr /****/ auto /****/ auto;
    grid-template-areas: ' handle    toggle    icon        labels     duration    actions';
    gap: mini-units(1) mini-units(3);

    .dragHandle {
        grid-area: handle;
        flex-shrink: 0;
        inline-size: calc($row-height);
        margin-inline-end: mini-units(-3);
    }

    .toggle {
        grid-area: toggle;
    }

    .icon {
        grid-area: icon;
    }

    .labels {
        grid-area: labels;

        .types {
            transform: translateY(-15%);
        }
    }

    .duration {
        grid-area: duration;
    }

    .actions {
        grid-area: actions;
        margin-inline: auto 0;
    }

    /*
    @container (width <= 900px) {
        padding-block: mini-units(2);
        grid-template-areas:
            'handle  icon labels    actions'
            'handle  toggle  duration  actions';
        grid-template-columns: auto auto 1fr auto;
    }

    @container (width <= 600px) {
        grid-template-areas:
            'icon labels   labels  '
            'handle  duration duration'
            'handle  toggle   actions';
        grid-template-columns: auto auto 1fr;
        grid-auto-rows: minmax(48px, auto);
        padding-inline: mini-units(1) mini-units(2);

        .icon {
            margin-inline: auto;
        }

        .dragHandle {
            margin-inline: auto;
        }

        .actions {
            margin-inline: 0 auto;
        }
    }

    @container (width <= 330px) {
        grid-template-areas:
            'icon  labels'
            'handle   duration'
            'toggle   actions';
        grid-template-columns: auto 1fr;

        .duration {
            flex-flow: column nowrap;
            align-items: start;
            gap: mini-units(1);
        }
    }
    */
}

.card {
    composes: root;

    .top {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        padding-block: mini-units(2) 0;
        padding-inline: mini-units(2);

        $box-size: to-rem(40px);

        .dragHandle,
        .icon {
            width: $box-size;
            height: $box-size;
            flex-shrink: 0;
            margin-inline: mini-units(-1) mini-units(1);
        }

        .labels {
            padding-inline-end: mini-units(2);

            .types {
                margin-block: mini-units(1);
            }
        }

        .toggle {
            margin-inline-start: auto;
            // Toggle without label has an extra "margin" on right, so we need to
            // nudge it a bit forward to visually align with the right edge.
            transform: translateX(mini-units(1));
        }
    }

    .bottom {
        display: flex;
        flex-flow: row nowrap;
        align-items: start;
        justify-content: space-between;
        gap: mini-units(2);

        margin-block-start: mini-units(1);
        border-block-start: 1px solid $border-subtle;
        padding-block: mini-units(1) mini-units(2);
        padding-inline: mini-units(2);

        .duration,
        .actionsWrapper {
            flex: 1;
            align-self: start;
        }

        .actionsWrapper {
            :global(.cds--label) {
                align-self: end;
            }
            .actions {
                align-self: end;
            }
        }

        .vr {
            width: 1px;
            align-self: stretch;
            margin-inline: auto;
            background-color: $border-subtle;
        }
    }
}

//
// Individual elements
//

.dragHandle {
    composes: selfStretch horizontal centerCenter from 'styles/layout.scss';
    cursor: move;
    touch-action: none;
}

.toggle {
    flex-shrink: 0;
}

.icon {
    composes: vertical centerCenter from 'styles/layout.scss';
    overflow: hidden;
    height: calc($row-height - mini-units(2));
    width: auto;

    img {
        width: auto;
        max-height: 100%;
        overflow: hidden;
    }
}

.labels {
    composes: vertical start from 'styles/layout.scss';

    text-align: start;
    text-wrap: balance;

    .title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        line-height: 0;
        gap: mini-units(1);

        @include type-style(heading-02);
    }

    .details {
        @include type-style(caption-01);
        color: $text-secondary;
    }
}

.duration {
    composes: horizontal center from 'styles/layout.scss';

    gap: mini-units(2);

    position: relative;
    overflow: hidden;

    label {
        white-space: nowrap;
        color: $text-secondary;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        * {
            pointer-events: none;
        }
    }

    :global(.cds--number) {
        max-inline-size: to-rem(130px);

        input {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }
}

.actions {
    composes: horizontal from 'styles/layout.scss';
    gap: mini-units(1);

    // We need min-height because the buttons have tooltips,
    // which makes them behave wrong in regards to document flow.
    min-block-size: $ctrl-height;

    button {
        block-size: $ctrl-height;
        // CDS Colours these with action accent,
        // so we'll force it to primary text colour
        color: $text-primary !important;
    }
}

//
// Disabled
//

.disabledRow {
    .icon,
    .labels *,
    .duration {
        color: $text-secondary;
        opacity: 0.5;
    }
}

//
// Skeleton
//

.skeletonsGroup {
    composes: vertical from 'styles/layout.scss';
    gap: mini-units(1);
    container-type: inline-size;
}

.skeleton {
    padding-block: mini-units(1);
    padding-inline: mini-units(2);

    display: inline-grid;
    gap: mini-units(1);

    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        'a b1 c d'
        'a b2 c d';

    background-color: $layer-01;
    min-block-size: to-rem(57px);

    > * {
        background-color: $layer-02;
        margin-block: auto;
        transition: all 150ms transition.$ease-in-out;
    }

    @container (width <= 400px) {
        display: flex !important;
        flex-flow: row nowrap;

        > * {
            block-size: 100%;
            inline-size: unset;
            aspect-ratio: unset !important;
            flex: 1;
        }

        .b1,
        .b2 {
            display: none;
        }
    }

    .a {
        grid-area: a;
        height: to-rem(48px);
        aspect-ratio: 2 / 1;
    }
    .b1 {
        grid-area: b1;
        block-size: mini-units(2);
        inline-size: 80%;
        margin-block-start: mini-units(1);
    }
    .b2 {
        grid-area: b2;
        block-size: mini-units(1.5);
        inline-size: 40%;
        margin-block-end: mini-units(1);
    }
    .c {
        grid-area: c;
        height: to-rem(40px);
        aspect-ratio: 2 / 1;
    }
    .d {
        grid-area: d;
        height: to-rem(40px);
        aspect-ratio: 2 / 1;
    }
}
