@use 'styles/carbon' as *;

$row-height: to-rem(68px);
$ctrl-height: to-rem(40px);

.root {
    position: relative;
    display: grid;

    // stretch the labels column
    grid-template-columns: auto /**/ auto /**/ auto /****/ 1fr /*********/ auto /****/ auto;
    grid-template-areas: ' handle    toggle    preview     labels      duration     actions';

    // ↑↓ center, ←→ start
    place-items: center start;
    gap: mini-units(1) mini-units(3);
    padding-inline: 0 mini-units(3);

    container-type: inline-size;
    width: 100%;
    min-height: $row-height;

    background-color: $layer-01;
    user-select: none;
    color: $text-primary;

    // Just a slight wrapping of the actions & duration controls
    @container (width <= 900px) {
        padding-block: mini-units(2);

        grid-template-areas:
            'handle    toggle    preview    actions'
            'handle    toggle    labels     duration';
        grid-template-columns: auto auto 1fr auto;
    }

    // - stretch the image
    // - controls over the image
    // - labels & toggle on it's own row
    // - duration on it's own row
    @container (width <= 800px) {
        padding-inline: 0;
        padding-block: 0 mini-units(3);

        grid-template-areas:
            'preview    preview'
            'actions    actions'
            'labels     toggle'
            'duration   duration';
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        row-gap: 0;

        // Covers the whole width
        .preview {
            width: 100%;
            height: 4 * $row-height;
            place-content: center;

            // Image now COVERs the whole thing
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        // Moves upward over the image
        .actions {
            position: relative;
            z-index: 10;

            margin-block:
                // shift the action buttons over the image above them
                mini-units(-9)
                // …and space out the bottom a bit. This one now fights the negative top margin, so we gotta go big here too
                mini-units(3);

            // …and space out a bit more from the right edge
            padding: mini-units(2);
            backdrop-filter: blur(10px);
        }

        // Toggle now needs it's own spacing from the right edge
        .toggle,
        .duration {
            margin-inline-end: mini-units(2);
        }

        // the label+input combo now covers the width
        .duration {
            place-self: stretch;
            padding-block-start: mini-units(2);

            :global(.cds--number) {
                margin-inline-start: auto;
            }
        }

        .duration,
        .labels {
            margin-inline-start: mini-units(2);
        }

        // Drag handle gets moved to the upper left corner
        .dragHandle {
            position: absolute;
            top: mini-units(2);
            left: mini-units(2);
            width: to-rem(40px);
            height: to-rem(40px);

            background-color: $button-secondary;
        }
    }
}

.dragHandle {
    grid-area: handle;

    composes: selfStretch horizontal centerCenter from 'styles/layout.scss';
    flex-shrink: 0;
    inline-size: calc($row-height);
    margin-inline-end: mini-units(-3);
    cursor: move;
}

.toggle {
    grid-area: toggle;
    flex-shrink: 0;
}

.preview {
    grid-area: preview;

    composes: vertical centerCenter from 'styles/layout.scss';
    overflow: hidden;
    height: calc($row-height - mini-units(2));
    width: auto;

    img {
        width: auto;
        max-height: 100%;
        overflow: hidden;
    }
}

.labels {
    grid-area: labels;
    composes: vertical start from 'styles/layout.scss';

    text-align: start;
    text-wrap: balance;

    .title {
        @include type-style(heading-02);
        line-height: 1.37;
    }

    .details {
        @include type-style(caption-01);
        color: $text-secondary;
    }
}

.duration {
    grid-area: duration;
    composes: horizontal center from 'styles/layout.scss';

    gap: mini-units(2);

    position: relative;
    overflow: hidden;

    label {
        white-space: nowrap;
        color: $text-secondary;
    }

    :global(.cds--number) {
        max-inline-size: to-rem(130px);
    }
}

.actions {
    composes: horizontal from 'styles/layout.scss';
    gap: mini-units(1);
    grid-area: actions;

    margin-inline: auto 0;

    // We need min-height because the buttons have tooltips,
    // which makes them behave wrong in regards to document flow.
    min-block-size: $ctrl-height;

    button {
        block-size: $ctrl-height;
    }
}

//
// Disabled
//

.disabled {
    .preview,
    .labels *,
    .duration {
        color: $text-secondary;
        opacity: 0.5;
    }
}
