@use 'styles/carbon' as *;
@use 'styles/var/transition';
@use 'styles/var/shadows';

.list {
    composes: selfStretch vertical start from 'styles/layout.scss';
    container-type: inline-size;
    gap: 2px;
}

.line {
    // We have to be specific about the transitioned property here
    // because this node is being moved by javascript to follow
    // the mouse and animating that screws up the responsivity.
    transition-timing-function: transition.$ease-in-out;
    transition-property: opacity, outline-color;
    transition-duration: 150ms;

    // Always have the outline, just transparent when not a drop target
    outline: 2px dashed transparent;
    outline-offset: -2px;

    &.dragged {
        // When dragged, the original item becomes a placeholder
        opacity: 0.4;
    }

    &.dropTarget {
        outline-color: $focus;
    }
}

.placeholder {
    composes: vertical center from 'styles/layout.scss';
    padding-inline: mini-units(3);
    padding-block: mini-units(6);
    background-color: $layer-01;

    .skeleton {
        width: 100%;
        margin-inline: auto;
        max-inline-size: to-rem(860px);

        [role='listitem'] {
            background-color: $text-inverse;
        }
    }

    .title {
        @include type-style(heading-03);
        margin-block: mini-units(4) 0;
        color: $text-primary;
    }
    .subtitle {
        @include type-style(heading-02);
        margin-block: mini-units(1) 0;
        color: $text-secondary;
    }
    .button {
        margin-block-start: mini-units(3);
    }
}
