@use 'styles/carbon' as *;
@use 'styles/var/transition';
@use 'styles/var/shadows';

.list {
    composes: selfStretch vertical start from 'styles/layout.scss';
    container-type: inline-size;
    gap: 2px;
}

.line {
    // We have to be specific about the transitioned property here
    // because this node is being moved by javascript to follow
    // the mouse and animating that screws up the responsivity.
    transition-timing-function: transition.$transition-timing-ease-in-out;
    transition-property: opacity, box-shadow;
    transition-duration: 150ms;

    &.dragged {
        z-index: 1000;
        opacity: 0.85;
        box-shadow: shadows.$elevation-16dp;
    }
}
