@use 'styles/carbon' as *;

.root {
    composes: vertical from 'styles/layout.scss';
    position: relative;

    inline-size: to-rem(512px);
    max-inline-size: 100%;
    max-block-size: 100%;

    background-color: $layer-01;
}

.header {
    composes: horizontal center from 'styles/layout.scss';
    position: sticky;
    z-index: 10;
    top: 0;

    flex-shrink: 0;
    block-size: to-rem(58px);

    background-color: $layer-01;
    border-bottom: 2px solid $border-subtle;
    padding-inline: mini-units(2);
}

.main {
    composes: scrollbar from 'styles/interaction.scss';
    composes: vertical flex from 'styles/layout.scss';
    padding: mini-units(2) mini-units(2) mini-units(5);

    position: relative;
    z-index: 2;
}

.footer {
    composes: horizontal endJustified from 'styles/layout.scss';
    width: 100%;
    flex-shrink: 0;

    position: sticky;
    bottom: 0;

    background-color: $layer-01;

    > * {
        min-inline-size: 50%;
        max-inline-size: 50%;

        block-size: to-rem(64px);
        min-block-size: unset;
        max-block-size: unset;

        padding-block: mini-units(2) mini-units(4) !important;
    }
}

@media (width <= 800px) or (height <= 800px) {
    .root {
        block-size: 100% !important;
    }
    .main {
        block-size: 100% !important;
    }
}
