@use 'styles/carbon' as *;
@use 'styles/var/shadows';

.form {
    composes: inline vertical from 'styles/layout.scss';
    inline-size: 100%;
    gap: mini-units(3);
}

.rules {
    composes: inline vertical from 'styles/layout.scss';
    gap: mini-units(1);
    text-wrap: balance;

    h2 {
        @include type-style(heading-03);
    }
    h3 {
        @include type-style(heading-02);
    }

    ul {
        list-style-type: disc;
        list-style-position: outside;
        margin-inline-start: mini-units(3);
        line-height: 1.5;
    }

    p {
        @include type-style(body-short-01);
        max-width: 500px;
        text-wrap: balance;
    }
}

.configHelp {
    composes: inline vertical from 'styles/layout.scss';
    gap: mini-units(1);
    color: $text-secondary;
    text-wrap: balance;

    h1,
    h2,
    h3 {
        @include type-style(heading-02);
        color: $text-primary;
    }

    p {
        @include type-style(body-short-01);
    }

    ul {
        list-style-type: disc;
        list-style-position: outside;
        margin-inline-start: mini-units(3);
        line-height: 1.5;
    }

    code {
        @include type-style(code-01);
    }
}

.modal :global(.cds--modal-header) {
    border-block-end: 1px solid $border-subtle;
    padding-block: mini-units(2);
}

.comboBox {
    input {
        padding-inline-end: 5.5rem !important;
    }

    // Hide the error icon
    [class*='invalid-icon'] {
        display: none;
    }

    // Hide the clear button
    // (covered by the decorator icon)
    button[class*='selection'] {
        display: none;
    }
}

.note {
    composes: horizontal from 'styles/layout.scss';
    gap: mini-units(1);
    color: $text-secondary;
}

//
// Account
//

.withIcon {
    composes: horizontal center from 'styles/layout.scss';
    gap: mini-units(1);
}

.accountElement {
    composes: horizontal center from 'styles/layout.scss';
    gap: mini-units(2);
}
.accountElementName {
    composes: withIcon;
    color: $text-primary;
}
.accountElementDate {
    composes: withIcon;
    color: $text-secondary;
}
