@use 'styles/carbon' as *;

.root {
    composes: vertical from 'styles/layout.scss';
    container-type: inline-size;
    gap: 1px;
}

//
// Row
//

.row {
    background-color: $layer-01;
    padding: mini-units(2);

    display: grid;
    column-gap: mini-units(2);
    grid-template-areas:
        'icon title       action'
        'icon description action';
    grid-template-columns: auto 1fr auto;

    @container (width <= 600px) {
        grid-template-areas:
            'icon        title       action'
            'description description description';
        row-gap: mini-units(2);

        .rowIcon svg {
            block-size: to-rem(40px);
        }
    }
}

.rowIcon {
    composes: horizontal centerCenter from 'styles/layout.scss';
    grid-area: icon;
}

.rowTitle {
    composes: horizontal center from 'styles/layout.scss';
    composes: heading-03 from 'styles/carbon/typography.scss';
    grid-area: title;
}

.rowDescription {
    composes: body-short-02 from 'styles/carbon/typography.scss';
    grid-area: description;
}

.rowAction {
    grid-area: action;
    margin-inline-start: mini-units(3);
}
