@use 'styles/carbon' as *;

.root {
    composes: vertical from 'styles/layout.scss';
    gap: mini-units(2);
}

.placeholder {
    color: $text-placeholder;
}
.estimatedDuration {
    color: $text-secondary;
    line-height: 1.28;
}

//
// Updates box
//

.updateContainer {
    composes: vertical from 'styles/layout.scss';
    padding: mini-units(2);
    gap: mini-units(2);

    background: $layer-01;
}

.facts {
    position: relative;

    width: to-rem(558px);
    max-width: 100%;
    container-type: inline-size;

    @include type-style(body-short-01);

    :global(.cds--inline-loading) {
        display: inline-flex;
        flex-grow: 0;
        width: auto;
    }

    table {
        width: 100%;

        th,
        td {
            height: mini-units(4);
            vertical-align: middle;
        }

        th {
            text-align: start;
            font-weight: bold;
        }
        td {
            text-align: end;
        }

        // Reflow on mobile
        @container (width <= 500px) {
            display: flex;
            flex-flow: column nowrap;

            tr {
                display: flex;
                flex-flow: column nowrap;
                margin-block-end: mini-units(2);

                th,
                td {
                    height: auto;
                    line-height: 1.5;

                    width: 100%;
                    align-self: start;
                    text-align: start;
                }
            }
        }
    }
}

.statusMessage {
    composes: vertical from 'styles/layout.scss';
    gap: mini-units(1);
    width: 100%;
    margin-top: mini-units(1);

    &:empty {
        display: none;
    }
}

.control {
    margin-top: mini-units(2);
    &:empty {
        display: none;
    }
}

.progressbar {
    .icon {
        position: absolute;
        right: 0;
    }
    [dir='rtl'] & .icon {
        right: auto;
        left: 0;
    }

    .footer {
        margin-top: mini-units(1);
        color: $text-secondary;
    }
    &.invalid .footer {
        color: $text-error;
    }
}

.changelog {
    margin-top: mini-units(4);

    .title {
        @include type-style('heading-02');
        margin-bottom: mini-units(1);
    }
}
.description {
    padding: mini-units(2);
    margin-bottom: mini-units(2);

    font-size: 1rem;
    color: $text-secondary;
    background-color: $layer-accent;

    .version {
        @include type-style('productive-heading-03');
    }

    p {
        font-size: inherit !important;
        width: 100%;
        max-width: to-rem(1000px);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0 0.7em;

        line-height: 1.6;
        font-weight: bold;
        font-style: normal;
        font-size: to-rem(14px);

        &:first-child {
            margin-top: 0;
        }
    }

    ul {
        position: relative;
        margin: 0.7rem 0 0 0.5rem;
        max-width: to-rem(450px);
        padding-inline-start: 1em;

        li {
            list-style-type: disc;
            list-style-position: outside;
            line-height: 1.7;
        }
    }
}

.downloadConfirmBar {
    composes: horizontal center startJustified from 'styles/layout.scss';
    gap: mini-units(2);

    @media (width <= 700px) {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
}

.overlayContent {
    composes: inline vertical startJustified from 'styles/layout.scss';
    composes: scrollbar from 'styles/interaction.scss';
    gap: mini-units(3);

    max-width: 60vw;
    max-height: 85vh;
    overflow-y: auto;

    background-color: $background;
    padding: mini-units(3);

    @media (width <= 700px) {
        max-width: 90vw;
    }

    .icon {
        $size: to-rem(32px);
        width: $size;
        height: $size;

        &.green {
            fill: $braiins-alert-green;
        }
        &.red {
            fill: $braiins-alert-red;
        }
    }

    .title {
        @include type-style('heading-03');
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: mini-units(2);
    }
}

.overlayRestart {
    composes: overlayContent;

    .title .icon {
        color: $support-success;
    }

    [role='timer'] {
        font-weight: bold;
    }
}
