@use 'styles/carbon' as *;

.root {
    composes: vertical from 'styles/layout.scss';
}

.title {
    composes: heading-02 from 'styles/carbon/typography.scss';
    margin-inline-start: mini-units(2);
    margin-block-end: mini-units(2);
}

.description {
    composes: body-short-02 from 'styles/carbon/typography.scss';
    margin-inline-start: mini-units(2);
    margin-block: mini-units(-1.5) mini-units(2);
    color: $text-secondary;
}

.body {
    composes: vertical from 'styles/layout.scss';
    gap: to-rem(1px);

    container-type: inline-size;
}
