@use 'styles/carbon' as *;
@use 'styles/var/shadows';

.root {
    max-width: to-rem(1200px);
}

//
// Header
//

.header {
    composes: horizontal center justified from 'styles/layout.scss';
    text-wrap: balance;
    gap: mini-units(6);

    margin-block-end: mini-units(2);
    margin-inline-start: mini-units(2);

    @media (width <= 600px) {
        flex-flow: column nowrap;
        justify-content: start;
        gap: mini-units(2);

        .actions {
            width: 100%;
        }
    }
}

.labels {
    composes: vertical start from 'styles/layout.scss';
    gap: mini-units(1);
}

.title {
    composes: heading-06 from 'styles/carbon/typography.scss';
}
.description {
    color: $text-secondary;
}

.actions {
    align-self: end;
}

//
// Body
//

.content {
    position: relative;
}

//
// Edit Dialog
//

.deleteButtonRow {
    margin-block-start: mini-units(4);
}

.deleteConfirmationMessage {
    table {
        margin-block-start: mini-units(2);

        td,
        th {
            padding-block-start: mini-units(0.5);
            text-align: start;
        }

        th {
            font-weight: normal;
            padding-inline-end: mini-units(1);
        }
        td {
            font-weight: bold;
        }
    }
}
